{% extends "failures/base.html" %}
{% block content %}
{% if forms is not none and forms.faults|length %}
  <h1> Форма заполнения неисправностей </h1>
  <hr>
  <form action="{{ url_for('formhandler.fail_form_post') }}" class="fail-form" method="post">
    {{ forms.csrf_token }}
    {% for form in forms.faults %}
      <div>
        {{ form.fault.label }} <br>
        {{ form.fault(class="comment", placeholder="Неисправность:",
        cols="65")}}
      </div>
      {% if form.fault.errors %}
        <ul class="errors">
          {% for error in form.fault.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <div>{{ forms.submit() }}</div>
  </form>
  <button onclick="add_field()">ADD FIELD</button>
{% else %}
  {% include "failures/faults_journal.html" %}
{% endif %}
{% endblock content %}

